div.usersContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

a.userContainer {
  padding: 8px;
  background-color: #f2f2f2;

  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-decoration: none;
  color: black;
}