aside {
  width: 200px;
}
aside nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
aside nav a {
  background-color: #f2f2f2;
  text-decoration: none;
  padding: 8px;
  color: black;
}
aside nav a:hover {
  background-color: #ccc;
}
