<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/layouts/flexboxlayout.css">
</head>

<body>

  <header>
    <h1>Welcome !</h1>
  </header>

  <section>
    <nav>
      <ul>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
      </ul>
    </nav>

    <article>
      <h1>Article</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eius. Dolores illum magnam ullam quibusdam
        aliquid officiis cum ut, maiores repudiandae voluptatum exercitationem eius facere nemo velit id odit facilis?
        Quas saepe numquam aperiam rerum est reiciendis corporis eos exercitationem dolore, eveniet quia quae
        consectetur esse, error dolores voluptatem atque provident nulla repellat possimus optio ex maxime itaque
        aliquam? Doloremque.</p>
    </article>
  </section>

  <footer>&copy; 2023 | All rights reserved.</footer>

</body>

</html>